@page "/"
@using BlazorInsider.App.Services
@using BlazorInsider.Shared.Model
@inject DatabaseService DatabaseService

<h3>Add new order</h3>

<table>
    <tr>
        <td>Item:</td>
        <td>
            <select bind="@description" class="form-control">
                <optgroup label="Breakfast">
                    <option value="Nasi Lemak">Nasi Lemak</option>
                    <option value="Mee Goreng Mamak">Mee Goreng Mamak</option>
                </optgroup>
                <optgroup label="Lunch">
                    <option value="Rendang">Rendang</option>
                    <option value="Nasi Kerabu">Nasi Kerabu</option>
                </optgroup>
                <optgroup label="Baverages">
                    <option value="Kopi">Kopi</option>
                    <option value="Kopi-O Siew Dai">Kopi-O Siew Dai</option>
                    <option value="Teh">Teh</option>
                    <option value="Milo">Milo</option>
                </optgroup>
            </select>
        </td>
    </tr>
    <tr>
        <td>Quantity:</td>
        <td>
            <select bind="@quantity" class="form-control">
                @for (int i = 0; i < 10; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>Total (RM):</td>
        <td><input type="number" bind="@total" class="form-control" /></td>
    </tr>
</table>

<p></p>

<table>
    <tr>
        <td><button class="btn btn-primary" onclick="@SaveOrder">Save order</button></td>
        <td><button class="btn btn-primary" onclick="@RefreshOrders">Refresh orders</button></td>
    </tr>
</table>

<p></p>
<h3>Orders</h3>
<p></p>

@if (orders == null)
{
    <p>Loading...</p>
}
else
{
    <table class="responsive-table">
        <thead>
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Description</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total (RM)</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in orders)
            {
                <tr>
                    <th scope="row">@order.OrderId</th>
                    <td data-title="Description">@order.Description</td>
                    <td data-title="Quantity">@order.Quantity</td>
                    <td data-title="Total">@order.Total.ToString("0.00")</td>
                    <td data-title="Status">
                        @if (order.Status == "Processed")
                        {
                            <span class="text-success"><i class="fa fa-check-circle"></i> @order.Status</span>
                        }
                        else
                        {
                            <span>@order.Status</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    string description;
    int quantity;
    double total;
    List<Order> orders;

    void SaveOrder()
    {
        Order order = new Order
        {
            Description = description,
            Quantity = quantity,
            Total = total,
            Status = "Pending"
        };

        DatabaseService.AddOrder(order);
        RefreshOrders();
        description = string.Empty;
        quantity = 0;
        total = 0;
    }

    void RefreshOrders()
    {
        orders = DatabaseService.GetOrders();
    }

    protected override void OnInit()
    {
        RefreshOrders();
    }
}